<div class="continer-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">AboutUs</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    {{!-- leftside --}}
                    <div class="col-md-6 md-12 hero-image d-flex justify-content-center align-items-start flex-column">
                        <figure id="image">
                            <img src="images/developer.png" width="100%" alt="">
                        </figure>
                         
                    </div>
                    
                    {{!-- rightside --}}
                    <div class="col-md-6 md-12 hero-text  d-flex justify-content-center align-items-center flex-column">
                          <h1>WE WILL HELP TO YOU</h1>
                          <h1>GROW YOUR BUSINESS</h1>
                          <p>We are the team of developers</p>
                          <button type="button" class="btn btn-warning">Readme</button>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>